client/trunk/KuwaibaWebserviceClient/src/META-INF/wsdl/localhost_8080/kuwaiba/KuwaibaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="KuwaibaService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/kuwaiba/KuwaibaService?xsd=1" />
</xsd:schema>
</types>
<message name="getQuery">
<part name="parameters" element="tns:getQuery" />
</message>
<message name="getQueryResponse">
<part name="parameters" element="tns:getQueryResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="createGroup">
<part name="parameters" element="tns:createGroup" />
</message>
<message name="createGroupResponse">
<part name="parameters" element="tns:createGroupResponse" />
</message>
<message name="getMetadata">
<part name="parameters" element="tns:getMetadata" />
</message>
<message name="getMetadataResponse">
<part name="parameters" element="tns:getMetadataResponse" />
</message>
<message name="executeQuery">
<part name="parameters" element="tns:executeQuery" />
</message>
<message name="executeQueryResponse">
<part name="parameters" element="tns:executeQueryResponse" />
</message>
<message name="getGroups">
<part name="parameters" element="tns:getGroups" />
</message>
<message name="getGroupsResponse">
<part name="parameters" element="tns:getGroupsResponse" />
</message>
<message name="createObject">
<part name="parameters" element="tns:createObject" />
</message>
<message name="createObjectResponse">
<part name="parameters" element="tns:createObjectResponse" />
</message>
<message name="copyObjects">
<part name="parameters" element="tns:copyObjects" />
</message>
<message name="copyObjectsResponse">
<part name="parameters" element="tns:copyObjectsResponse" />
</message>
<message name="getServerStatus">
<part name="parameters" element="tns:getServerStatus" />
</message>
<message name="getServerStatusResponse">
<part name="parameters" element="tns:getServerStatusResponse" />
</message>
<message name="createSession">
<part name="parameters" element="tns:createSession" />
</message>
<message name="createSessionResponse">
<part name="parameters" element="tns:createSessionResponse" />
</message>
<message name="closeSession">
<part name="parameters" element="tns:closeSession" />
</message>
<message name="closeSessionResponse">
<part name="parameters" element="tns:closeSessionResponse" />
</message>
<message name="getObjectChildren">
<part name="parameters" element="tns:getObjectChildren" />
</message>
<message name="getObjectChildrenResponse">
<part name="parameters" element="tns:getObjectChildrenResponse" />
</message>
<message name="getChildrenOfClass">
<part name="parameters" element="tns:getChildrenOfClass" />
</message>
<message name="getChildrenOfClassResponse">
<part name="parameters" element="tns:getChildrenOfClassResponse" />
</message>
<message name="getObjectInfo">
<part name="parameters" element="tns:getObjectInfo" />
</message>
<message name="getObjectInfoResponse">
<part name="parameters" element="tns:getObjectInfoResponse" />
</message>
<message name="getObjectInfoLight">
<part name="parameters" element="tns:getObjectInfoLight" />
</message>
<message name="getObjectInfoLightResponse">
<part name="parameters" element="tns:getObjectInfoLightResponse" />
</message>
<message name="updateObject">
<part name="parameters" element="tns:updateObject" />
</message>
<message name="updateObjectResponse">
<part name="parameters" element="tns:updateObjectResponse" />
</message>
<message name="setObjectLock">
<part name="parameters" element="tns:setObjectLock" />
</message>
<message name="setObjectLockResponse">
<part name="parameters" element="tns:setObjectLockResponse" />
</message>
<message name="addPossibleChildren">
<part name="parameters" element="tns:addPossibleChildren" />
</message>
<message name="addPossibleChildrenResponse">
<part name="parameters" element="tns:addPossibleChildrenResponse" />
</message>
<message name="removePossibleChildren">
<part name="parameters" element="tns:removePossibleChildren" />
</message>
<message name="removePossibleChildrenResponse">
<part name="parameters" element="tns:removePossibleChildrenResponse" />
</message>
<message name="getPossibleChildren">
<part name="parameters" element="tns:getPossibleChildren" />
</message>
<message name="getPossibleChildrenResponse">
<part name="parameters" element="tns:getPossibleChildrenResponse" />
</message>
<message name="getPossibleChildrenNoRecursive">
<part name="parameters" element="tns:getPossibleChildrenNoRecursive" />
</message>
<message name="getPossibleChildrenNoRecursiveResponse">
<part name="parameters" element="tns:getPossibleChildrenNoRecursiveResponse" />
</message>
<message name="getRootPossibleChildren">
<part name="parameters" element="tns:getRootPossibleChildren" />
</message>
<message name="getRootPossibleChildrenResponse">
<part name="parameters" element="tns:getRootPossibleChildrenResponse" />
</message>
<message name="getMetadataForClass">
<part name="parameters" element="tns:getMetadataForClass" />
</message>
<message name="getMetadataForClassResponse">
<part name="parameters" element="tns:getMetadataForClassResponse" />
</message>
<message name="getClassHierarchy">
<part name="parameters" element="tns:getClassHierarchy" />
</message>
<message name="getClassHierarchyResponse">
<part name="parameters" element="tns:getClassHierarchyResponse" />
</message>
<message name="getMultipleChoice">
<part name="parameters" element="tns:getMultipleChoice" />
</message>
<message name="getMultipleChoiceResponse">
<part name="parameters" element="tns:getMultipleChoiceResponse" />
</message>
<message name="removeObject">
<part name="parameters" element="tns:removeObject" />
</message>
<message name="removeObjectResponse">
<part name="parameters" element="tns:removeObjectResponse" />
</message>
<message name="getLightMetadata">
<part name="parameters" element="tns:getLightMetadata" />
</message>
<message name="getLightMetadataResponse">
<part name="parameters" element="tns:getLightMetadataResponse" />
</message>
<message name="moveObjects">
<part name="parameters" element="tns:moveObjects" />
</message>
<message name="moveObjectsResponse">
<part name="parameters" element="tns:moveObjectsResponse" />
</message>
<message name="searchForObjects">
<part name="parameters" element="tns:searchForObjects" />
</message>
<message name="searchForObjectsResponse">
<part name="parameters" element="tns:searchForObjectsResponse" />
</message>
<message name="createQuery">
<part name="parameters" element="tns:createQuery" />
</message>
<message name="createQueryResponse">
<part name="parameters" element="tns:createQueryResponse" />
</message>
<message name="saveQuery">
<part name="parameters" element="tns:saveQuery" />
</message>
<message name="saveQueryResponse">
<part name="parameters" element="tns:saveQueryResponse" />
</message>
<message name="deleteQuery">
<part name="parameters" element="tns:deleteQuery" />
</message>
<message name="deleteQueryResponse">
<part name="parameters" element="tns:deleteQueryResponse" />
</message>
<message name="getQueries">
<part name="parameters" element="tns:getQueries" />
</message>
<message name="getQueriesResponse">
<part name="parameters" element="tns:getQueriesResponse" />
</message>
<message name="setAttributePropertyValue">
<part name="parameters" element="tns:setAttributePropertyValue" />
</message>
<message name="setAttributePropertyValueResponse">
<part name="parameters" element="tns:setAttributePropertyValueResponse" />
</message>
<message name="setClassPlainAttribute">
<part name="parameters" element="tns:setClassPlainAttribute" />
</message>
<message name="setClassPlainAttributeResponse">
<part name="parameters" element="tns:setClassPlainAttributeResponse" />
</message>
<message name="setClassIcon">
<part name="parameters" element="tns:setClassIcon" />
</message>
<message name="setClassIconResponse">
<part name="parameters" element="tns:setClassIconResponse" />
</message>
<message name="createListType">
<part name="parameters" element="tns:createListType" />
</message>
<message name="createListTypeResponse">
<part name="parameters" element="tns:createListTypeResponse" />
</message>
<message name="getInstanceableListTypes">
<part name="parameters" element="tns:getInstanceableListTypes" />
</message>
<message name="getInstanceableListTypesResponse">
<part name="parameters" element="tns:getInstanceableListTypesResponse" />
</message>
<message name="getDefaultView">
<part name="parameters" element="tns:getDefaultView" />
</message>
<message name="getDefaultViewResponse">
<part name="parameters" element="tns:getDefaultViewResponse" />
</message>
<message name="getRoomView">
<part name="parameters" element="tns:getRoomView" />
</message>
<message name="getRoomViewResponse">
<part name="parameters" element="tns:getRoomViewResponse" />
</message>
<message name="getRackView">
<part name="parameters" element="tns:getRackView" />
</message>
<message name="getRackViewResponse">
<part name="parameters" element="tns:getRackViewResponse" />
</message>
<message name="saveObjectView">
<part name="parameters" element="tns:saveObjectView" />
</message>
<message name="saveObjectViewResponse">
<part name="parameters" element="tns:saveObjectViewResponse" />
</message>
<message name="createPhysicalContainerConnection">
<part name="parameters" element="tns:createPhysicalContainerConnection" />
</message>
<message name="createPhysicalContainerConnectionResponse">
<part name="parameters" element="tns:createPhysicalContainerConnectionResponse" />
</message>
<message name="createPhysicalConnection">
<part name="parameters" element="tns:createPhysicalConnection" />
</message>
<message name="createPhysicalConnectionResponse">
<part name="parameters" element="tns:createPhysicalConnectionResponse" />
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers" />
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse" />
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser" />
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse" />
</message>
<message name="deleteUsers">
<part name="parameters" element="tns:deleteUsers" />
</message>
<message name="deleteUsersResponse">
<part name="parameters" element="tns:deleteUsersResponse" />
</message>
<message name="deleteGroups">
<part name="parameters" element="tns:deleteGroups" />
</message>
<message name="deleteGroupsResponse">
<part name="parameters" element="tns:deleteGroupsResponse" />
</message>
<message name="setUserProperties">
<part name="parameters" element="tns:setUserProperties" />
</message>
<message name="setUserPropertiesResponse">
<part name="parameters" element="tns:setUserPropertiesResponse" />
</message>
<message name="setGroupProperties">
<part name="parameters" element="tns:setGroupProperties" />
</message>
<message name="setGroupPropertiesResponse">
<part name="parameters" element="tns:setGroupPropertiesResponse" />
</message>
<message name="addUsersToGroup">
<part name="parameters" element="tns:addUsersToGroup" />
</message>
<message name="addUsersToGroupResponse">
<part name="parameters" element="tns:addUsersToGroupResponse" />
</message>
<message name="removeUsersFromGroup">
<part name="parameters" element="tns:removeUsersFromGroup" />
</message>
<message name="removeUsersFromGroupResponse">
<part name="parameters" element="tns:removeUsersFromGroupResponse" />
</message>
<message name="addGroupsToUser">
<part name="parameters" element="tns:addGroupsToUser" />
</message>
<message name="addGroupsToUserResponse">
<part name="parameters" element="tns:addGroupsToUserResponse" />
</message>
<message name="removeGroupsFromUser">
<part name="parameters" element="tns:removeGroupsFromUser" />
</message>
<message name="removeGroupsFromUserResponse">
<part name="parameters" element="tns:removeGroupsFromUserResponse" />
</message>
<portType name="Kuwaiba">
<operation name="getQuery">
<input wsam:Action="http://webservice/Kuwaiba/getQueryRequest" message="tns:getQuery" />
<output wsam:Action="http://webservice/Kuwaiba/getQueryResponse" message="tns:getQueryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getQuery/Fault/Exception" />
</operation>
<operation name="createGroup">
<input wsam:Action="http://webservice/Kuwaiba/createGroupRequest" message="tns:createGroup" />
<output wsam:Action="http://webservice/Kuwaiba/createGroupResponse" message="tns:createGroupResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/createGroup/Fault/Exception" />
</operation>
<operation name="getMetadata">
<input wsam:Action="http://webservice/Kuwaiba/getMetadataRequest" message="tns:getMetadata" />
<output wsam:Action="http://webservice/Kuwaiba/getMetadataResponse" message="tns:getMetadataResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getMetadata/Fault/Exception" />
</operation>
<operation name="executeQuery">
<input wsam:Action="http://webservice/Kuwaiba/executeQueryRequest" message="tns:executeQuery" />
<output wsam:Action="http://webservice/Kuwaiba/executeQueryResponse" message="tns:executeQueryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/executeQuery/Fault/Exception" />
</operation>
<operation name="getGroups">
<input wsam:Action="http://webservice/Kuwaiba/getGroupsRequest" message="tns:getGroups" />
<output wsam:Action="http://webservice/Kuwaiba/getGroupsResponse" message="tns:getGroupsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getGroups/Fault/Exception" />
</operation>
<operation name="createObject">
<input wsam:Action="http://webservice/Kuwaiba/createObjectRequest" message="tns:createObject" />
<output wsam:Action="http://webservice/Kuwaiba/createObjectResponse" message="tns:createObjectResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/createObject/Fault/Exception" />
</operation>
<operation name="copyObjects">
<input wsam:Action="http://webservice/Kuwaiba/copyObjectsRequest" message="tns:copyObjects" />
<output wsam:Action="http://webservice/Kuwaiba/copyObjectsResponse" message="tns:copyObjectsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/copyObjects/Fault/Exception" />
</operation>
<operation name="getServerStatus">
<input wsam:Action="http://webservice/Kuwaiba/getServerStatusRequest" message="tns:getServerStatus" />
<output wsam:Action="http://webservice/Kuwaiba/getServerStatusResponse" message="tns:getServerStatusResponse" />
</operation>
<operation name="createSession">
<input wsam:Action="http://webservice/Kuwaiba/createSessionRequest" message="tns:createSession" />
<output wsam:Action="http://webservice/Kuwaiba/createSessionResponse" message="tns:createSessionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/createSession/Fault/Exception" />
</operation>
<operation name="closeSession">
<input wsam:Action="http://webservice/Kuwaiba/closeSessionRequest" message="tns:closeSession" />
<output wsam:Action="http://webservice/Kuwaiba/closeSessionResponse" message="tns:closeSessionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/closeSession/Fault/Exception" />
</operation>
<operation name="getObjectChildren">
<input wsam:Action="http://webservice/Kuwaiba/getObjectChildrenRequest" message="tns:getObjectChildren" />
<output wsam:Action="http://webservice/Kuwaiba/getObjectChildrenResponse" message="tns:getObjectChildrenResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getObjectChildren/Fault/Exception" />
</operation>
<operation name="getChildrenOfClass">
<input wsam:Action="http://webservice/Kuwaiba/getChildrenOfClassRequest" message="tns:getChildrenOfClass" />
<output wsam:Action="http://webservice/Kuwaiba/getChildrenOfClassResponse" message="tns:getChildrenOfClassResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getChildrenOfClass/Fault/Exception" />
</operation>
<operation name="getObjectInfo">
<input wsam:Action="http://webservice/Kuwaiba/getObjectInfoRequest" message="tns:getObjectInfo" />
<output wsam:Action="http://webservice/Kuwaiba/getObjectInfoResponse" message="tns:getObjectInfoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getObjectInfo/Fault/Exception" />
</operation>
<operation name="getObjectInfoLight">
<input wsam:Action="http://webservice/Kuwaiba/getObjectInfoLightRequest" message="tns:getObjectInfoLight" />
<output wsam:Action="http://webservice/Kuwaiba/getObjectInfoLightResponse" message="tns:getObjectInfoLightResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getObjectInfoLight/Fault/Exception" />
</operation>
<operation name="updateObject">
<input wsam:Action="http://webservice/Kuwaiba/updateObjectRequest" message="tns:updateObject" />
<output wsam:Action="http://webservice/Kuwaiba/updateObjectResponse" message="tns:updateObjectResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/updateObject/Fault/Exception" />
</operation>
<operation name="setObjectLock">
<input wsam:Action="http://webservice/Kuwaiba/setObjectLockRequest" message="tns:setObjectLock" />
<output wsam:Action="http://webservice/Kuwaiba/setObjectLockResponse" message="tns:setObjectLockResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/setObjectLock/Fault/Exception" />
</operation>
<operation name="addPossibleChildren">
<input wsam:Action="http://webservice/Kuwaiba/addPossibleChildrenRequest" message="tns:addPossibleChildren" />
<output wsam:Action="http://webservice/Kuwaiba/addPossibleChildrenResponse" message="tns:addPossibleChildrenResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/addPossibleChildren/Fault/Exception" />
</operation>
<operation name="removePossibleChildren">
<input wsam:Action="http://webservice/Kuwaiba/removePossibleChildrenRequest" message="tns:removePossibleChildren" />
<output wsam:Action="http://webservice/Kuwaiba/removePossibleChildrenResponse" message="tns:removePossibleChildrenResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/removePossibleChildren/Fault/Exception" />
</operation>
<operation name="getPossibleChildren">
<input wsam:Action="http://webservice/Kuwaiba/getPossibleChildrenRequest" message="tns:getPossibleChildren" />
<output wsam:Action="http://webservice/Kuwaiba/getPossibleChildrenResponse" message="tns:getPossibleChildrenResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getPossibleChildren/Fault/Exception" />
</operation>
<operation name="getPossibleChildrenNoRecursive">
<input wsam:Action="http://webservice/Kuwaiba/getPossibleChildrenNoRecursiveRequest" message="tns:getPossibleChildrenNoRecursive" />
<output wsam:Action="http://webservice/Kuwaiba/getPossibleChildrenNoRecursiveResponse" message="tns:getPossibleChildrenNoRecursiveResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getPossibleChildrenNoRecursive/Fault/Exception" />
</operation>
<operation name="getRootPossibleChildren">
<input wsam:Action="http://webservice/Kuwaiba/getRootPossibleChildrenRequest" message="tns:getRootPossibleChildren" />
<output wsam:Action="http://webservice/Kuwaiba/getRootPossibleChildrenResponse" message="tns:getRootPossibleChildrenResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getRootPossibleChildren/Fault/Exception" />
</operation>
<operation name="getMetadataForClass">
<input wsam:Action="http://webservice/Kuwaiba/getMetadataForClassRequest" message="tns:getMetadataForClass" />
<output wsam:Action="http://webservice/Kuwaiba/getMetadataForClassResponse" message="tns:getMetadataForClassResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getMetadataForClass/Fault/Exception" />
</operation>
<operation name="getClassHierarchy">
<input wsam:Action="http://webservice/Kuwaiba/getClassHierarchyRequest" message="tns:getClassHierarchy" />
<output wsam:Action="http://webservice/Kuwaiba/getClassHierarchyResponse" message="tns:getClassHierarchyResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getClassHierarchy/Fault/Exception" />
</operation>
<operation name="getMultipleChoice">
<input wsam:Action="http://webservice/Kuwaiba/getMultipleChoiceRequest" message="tns:getMultipleChoice" />
<output wsam:Action="http://webservice/Kuwaiba/getMultipleChoiceResponse" message="tns:getMultipleChoiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getMultipleChoice/Fault/Exception" />
</operation>
<operation name="removeObject">
<input wsam:Action="http://webservice/Kuwaiba/removeObjectRequest" message="tns:removeObject" />
<output wsam:Action="http://webservice/Kuwaiba/removeObjectResponse" message="tns:removeObjectResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/removeObject/Fault/Exception" />
</operation>
<operation name="getLightMetadata">
<input wsam:Action="http://webservice/Kuwaiba/getLightMetadataRequest" message="tns:getLightMetadata" />
<output wsam:Action="http://webservice/Kuwaiba/getLightMetadataResponse" message="tns:getLightMetadataResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getLightMetadata/Fault/Exception" />
</operation>
<operation name="moveObjects">
<input wsam:Action="http://webservice/Kuwaiba/moveObjectsRequest" message="tns:moveObjects" />
<output wsam:Action="http://webservice/Kuwaiba/moveObjectsResponse" message="tns:moveObjectsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/moveObjects/Fault/Exception" />
</operation>
<operation name="searchForObjects">
<input wsam:Action="http://webservice/Kuwaiba/searchForObjectsRequest" message="tns:searchForObjects" />
<output wsam:Action="http://webservice/Kuwaiba/searchForObjectsResponse" message="tns:searchForObjectsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/searchForObjects/Fault/Exception" />
</operation>
<operation name="createQuery">
<input wsam:Action="http://webservice/Kuwaiba/createQueryRequest" message="tns:createQuery" />
<output wsam:Action="http://webservice/Kuwaiba/createQueryResponse" message="tns:createQueryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/createQuery/Fault/Exception" />
</operation>
<operation name="saveQuery">
<input wsam:Action="http://webservice/Kuwaiba/saveQueryRequest" message="tns:saveQuery" />
<output wsam:Action="http://webservice/Kuwaiba/saveQueryResponse" message="tns:saveQueryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/saveQuery/Fault/Exception" />
</operation>
<operation name="deleteQuery">
<input wsam:Action="http://webservice/Kuwaiba/deleteQueryRequest" message="tns:deleteQuery" />
<output wsam:Action="http://webservice/Kuwaiba/deleteQueryResponse" message="tns:deleteQueryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/deleteQuery/Fault/Exception" />
</operation>
<operation name="getQueries">
<input wsam:Action="http://webservice/Kuwaiba/getQueriesRequest" message="tns:getQueries" />
<output wsam:Action="http://webservice/Kuwaiba/getQueriesResponse" message="tns:getQueriesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getQueries/Fault/Exception" />
</operation>
<operation name="setAttributePropertyValue">
<input wsam:Action="http://webservice/Kuwaiba/setAttributePropertyValueRequest" message="tns:setAttributePropertyValue" />
<output wsam:Action="http://webservice/Kuwaiba/setAttributePropertyValueResponse" message="tns:setAttributePropertyValueResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/setAttributePropertyValue/Fault/Exception" />
</operation>
<operation name="setClassPlainAttribute">
<input wsam:Action="http://webservice/Kuwaiba/setClassPlainAttributeRequest" message="tns:setClassPlainAttribute" />
<output wsam:Action="http://webservice/Kuwaiba/setClassPlainAttributeResponse" message="tns:setClassPlainAttributeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/setClassPlainAttribute/Fault/Exception" />
</operation>
<operation name="setClassIcon">
<input wsam:Action="http://webservice/Kuwaiba/setClassIconRequest" message="tns:setClassIcon" />
<output wsam:Action="http://webservice/Kuwaiba/setClassIconResponse" message="tns:setClassIconResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/setClassIcon/Fault/Exception" />
</operation>
<operation name="createListType">
<input wsam:Action="http://webservice/Kuwaiba/createListTypeRequest" message="tns:createListType" />
<output wsam:Action="http://webservice/Kuwaiba/createListTypeResponse" message="tns:createListTypeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/createListType/Fault/Exception" />
</operation>
<operation name="getInstanceableListTypes">
<input wsam:Action="http://webservice/Kuwaiba/getInstanceableListTypesRequest" message="tns:getInstanceableListTypes" />
<output wsam:Action="http://webservice/Kuwaiba/getInstanceableListTypesResponse" message="tns:getInstanceableListTypesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getInstanceableListTypes/Fault/Exception" />
</operation>
<operation name="getDefaultView">
<input wsam:Action="http://webservice/Kuwaiba/getDefaultViewRequest" message="tns:getDefaultView" />
<output wsam:Action="http://webservice/Kuwaiba/getDefaultViewResponse" message="tns:getDefaultViewResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getDefaultView/Fault/Exception" />
</operation>
<operation name="getRoomView">
<input wsam:Action="http://webservice/Kuwaiba/getRoomViewRequest" message="tns:getRoomView" />
<output wsam:Action="http://webservice/Kuwaiba/getRoomViewResponse" message="tns:getRoomViewResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getRoomView/Fault/Exception" />
</operation>
<operation name="getRackView">
<input wsam:Action="http://webservice/Kuwaiba/getRackViewRequest" message="tns:getRackView" />
<output wsam:Action="http://webservice/Kuwaiba/getRackViewResponse" message="tns:getRackViewResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getRackView/Fault/Exception" />
</operation>
<operation name="saveObjectView">
<input wsam:Action="http://webservice/Kuwaiba/saveObjectViewRequest" message="tns:saveObjectView" />
<output wsam:Action="http://webservice/Kuwaiba/saveObjectViewResponse" message="tns:saveObjectViewResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/saveObjectView/Fault/Exception" />
</operation>
<operation name="createPhysicalContainerConnection">
<input wsam:Action="http://webservice/Kuwaiba/createPhysicalContainerConnectionRequest" message="tns:createPhysicalContainerConnection" />
<output wsam:Action="http://webservice/Kuwaiba/createPhysicalContainerConnectionResponse" message="tns:createPhysicalContainerConnectionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/createPhysicalContainerConnection/Fault/Exception" />
</operation>
<operation name="createPhysicalConnection">
<input wsam:Action="http://webservice/Kuwaiba/createPhysicalConnectionRequest" message="tns:createPhysicalConnection" />
<output wsam:Action="http://webservice/Kuwaiba/createPhysicalConnectionResponse" message="tns:createPhysicalConnectionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/createPhysicalConnection/Fault/Exception" />
</operation>
<operation name="getUsers">
<input wsam:Action="http://webservice/Kuwaiba/getUsersRequest" message="tns:getUsers" />
<output wsam:Action="http://webservice/Kuwaiba/getUsersResponse" message="tns:getUsersResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/getUsers/Fault/Exception" />
</operation>
<operation name="createUser">
<input wsam:Action="http://webservice/Kuwaiba/createUserRequest" message="tns:createUser" />
<output wsam:Action="http://webservice/Kuwaiba/createUserResponse" message="tns:createUserResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/createUser/Fault/Exception" />
</operation>
<operation name="deleteUsers">
<input wsam:Action="http://webservice/Kuwaiba/deleteUsersRequest" message="tns:deleteUsers" />
<output wsam:Action="http://webservice/Kuwaiba/deleteUsersResponse" message="tns:deleteUsersResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/deleteUsers/Fault/Exception" />
</operation>
<operation name="deleteGroups">
<input wsam:Action="http://webservice/Kuwaiba/deleteGroupsRequest" message="tns:deleteGroups" />
<output wsam:Action="http://webservice/Kuwaiba/deleteGroupsResponse" message="tns:deleteGroupsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/deleteGroups/Fault/Exception" />
</operation>
<operation name="setUserProperties">
<input wsam:Action="http://webservice/Kuwaiba/setUserPropertiesRequest" message="tns:setUserProperties" />
<output wsam:Action="http://webservice/Kuwaiba/setUserPropertiesResponse" message="tns:setUserPropertiesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/setUserProperties/Fault/Exception" />
</operation>
<operation name="setGroupProperties">
<input wsam:Action="http://webservice/Kuwaiba/setGroupPropertiesRequest" message="tns:setGroupProperties" />
<output wsam:Action="http://webservice/Kuwaiba/setGroupPropertiesResponse" message="tns:setGroupPropertiesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/setGroupProperties/Fault/Exception" />
</operation>
<operation name="addUsersToGroup">
<input wsam:Action="http://webservice/Kuwaiba/addUsersToGroupRequest" message="tns:addUsersToGroup" />
<output wsam:Action="http://webservice/Kuwaiba/addUsersToGroupResponse" message="tns:addUsersToGroupResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/addUsersToGroup/Fault/Exception" />
</operation>
<operation name="removeUsersFromGroup">
<input wsam:Action="http://webservice/Kuwaiba/removeUsersFromGroupRequest" message="tns:removeUsersFromGroup" />
<output wsam:Action="http://webservice/Kuwaiba/removeUsersFromGroupResponse" message="tns:removeUsersFromGroupResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/removeUsersFromGroup/Fault/Exception" />
</operation>
<operation name="addGroupsToUser">
<input wsam:Action="http://webservice/Kuwaiba/addGroupsToUserRequest" message="tns:addGroupsToUser" />
<output wsam:Action="http://webservice/Kuwaiba/addGroupsToUserResponse" message="tns:addGroupsToUserResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/addGroupsToUser/Fault/Exception" />
</operation>
<operation name="removeGroupsFromUser">
<input wsam:Action="http://webservice/Kuwaiba/removeGroupsFromUserRequest" message="tns:removeGroupsFromUser" />
<output wsam:Action="http://webservice/Kuwaiba/removeGroupsFromUserResponse" message="tns:removeGroupsFromUserResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/Kuwaiba/removeGroupsFromUser/Fault/Exception" />
</operation>
</portType>
<binding name="KuwaibaPortBinding" type="tns:Kuwaiba">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getQuery">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createGroup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getMetadata">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="executeQuery">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createObject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="copyObjects">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getServerStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createSession">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="closeSession">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getObjectChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getChildrenOfClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getObjectInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getObjectInfoLight">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="updateObject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="setObjectLock">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="addPossibleChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="removePossibleChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getPossibleChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getPossibleChildrenNoRecursive">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getRootPossibleChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getMetadataForClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getClassHierarchy">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getMultipleChoice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="removeObject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getLightMetadata">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="moveObjects">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="searchForObjects">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createQuery">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="saveQuery">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="deleteQuery">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getQueries">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="setAttributePropertyValue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="setClassPlainAttribute">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="setClassIcon">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createListType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getInstanceableListTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getDefaultView">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getRoomView">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getRackView">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="saveObjectView">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createPhysicalContainerConnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createPhysicalConnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="deleteUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="deleteGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="setUserProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="setGroupProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="addUsersToGroup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="removeUsersFromGroup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="addGroupsToUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="removeGroupsFromUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="KuwaibaService">
<port name="KuwaibaPort" binding="tns:KuwaibaPortBinding">
<soap:address location="http://localhost:8080/kuwaiba/KuwaibaService" />
</port>
</service>
</definitions>