client/trunk/KuwaibaWebserviceClient/xml-resources/web-service-references/KuwaibaWebserviceService/wsdl/localhost_8080/KuwaibaServer-war/KuwaibaWebserviceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="addPossibleChildren" type="tns:addPossibleChildren" />

<xs:element name="addPossibleChildrenResponse" type="tns:addPossibleChildrenResponse" />

<xs:element name="closeSession" type="tns:closeSession" />

<xs:element name="closeSessionResponse" type="tns:closeSessionResponse" />

<xs:element name="copyObjects" type="tns:copyObjects" />

<xs:element name="copyObjectsResponse" type="tns:copyObjectsResponse" />

<xs:element name="createObject" type="tns:createObject" />

<xs:element name="createObjectResponse" type="tns:createObjectResponse" />

<xs:element name="createSession" type="tns:createSession" />

<xs:element name="createSessionResponse" type="tns:createSessionResponse" />

<xs:element name="getDummyRootClass" type="tns:getDummyRootClass" />

<xs:element name="getDummyRootClassResponse" type="tns:getDummyRootClassResponse" />

<xs:element name="getDummyRootId" type="tns:getDummyRootId" />

<xs:element name="getDummyRootIdResponse" type="tns:getDummyRootIdResponse" />

<xs:element name="getLastErr" type="tns:getLastErr" />

<xs:element name="getLastErrResponse" type="tns:getLastErrResponse" />

<xs:element name="getLightMetadata" type="tns:getLightMetadata" />

<xs:element name="getLightMetadataResponse" type="tns:getLightMetadataResponse" />

<xs:element name="getMetadata" type="tns:getMetadata" />

<xs:element name="getMetadataForClass" type="tns:getMetadataForClass" />

<xs:element name="getMetadataForClassResponse" type="tns:getMetadataForClassResponse" />

<xs:element name="getMetadataResponse" type="tns:getMetadataResponse" />

<xs:element name="getMultipleChoice" type="tns:getMultipleChoice" />

<xs:element name="getMultipleChoiceResponse" type="tns:getMultipleChoiceResponse" />

<xs:element name="getObjectChildren" type="tns:getObjectChildren" />

<xs:element name="getObjectChildrenResponse" type="tns:getObjectChildrenResponse" />

<xs:element name="getObjectInfo" type="tns:getObjectInfo" />

<xs:element name="getObjectInfoResponse" type="tns:getObjectInfoResponse" />

<xs:element name="getPossibleChildren" type="tns:getPossibleChildren" />

<xs:element name="getPossibleChildrenResponse" type="tns:getPossibleChildrenResponse" />

<xs:element name="getRootPossibleChildren" type="tns:getRootPossibleChildren" />

<xs:element name="getRootPossibleChildrenResponse" type="tns:getRootPossibleChildrenResponse" />

<xs:element name="getTreeNode" type="tns:getTreeNode" />

<xs:element name="getTreeNodeLight" type="tns:getTreeNodeLight" />

<xs:element name="getTreeNodeLightResponse" type="tns:getTreeNodeLightResponse" />

<xs:element name="getTreeNodeResponse" type="tns:getTreeNodeResponse" />

<xs:element name="moveObjects" type="tns:moveObjects" />

<xs:element name="moveObjectsResponse" type="tns:moveObjectsResponse" />

<xs:element name="removeObject" type="tns:removeObject" />

<xs:element name="removeObjectResponse" type="tns:removeObjectResponse" />

<xs:element name="removePossibleChildren" type="tns:removePossibleChildren" />

<xs:element name="removePossibleChildrenResponse" type="tns:removePossibleChildrenResponse" />

<xs:element name="setObjectLock" type="tns:setObjectLock" />

<xs:element name="setObjectLockResponse" type="tns:setObjectLockResponse" />

<xs:element name="updateObject" type="tns:updateObject" />

<xs:element name="updateObjectResponse" type="tns:updateObjectResponse" />

<xs:complexType name="removePossibleChildren">
<xs:sequence>
<xs:element name="parentClassId" type="xs:long" minOccurs="0" />
<xs:element name="childrenToBeRemoved" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePossibleChildrenResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSession">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMultipleChoice">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMultipleChoiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:objectList" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="objectList">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0" />
<xs:element name="list">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:long" />
<xs:element name="value" minOccurs="0" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDummyRootClass">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDummyRootClassResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setObjectLock">
<xs:sequence>
<xs:element name="oid" type="xs:long" minOccurs="0" />
<xs:element name="objectclass" type="xs:string" minOccurs="0" />
<xs:element name="value" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setObjectLockResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMetadataForClass">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMetadataForClassResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfo" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="classInfo">
<xs:complexContent>
<xs:extension base="tns:classInfoLight">
<xs:sequence>
<xs:element name="attributeNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="attributeTypes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="attributeDisplayNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="attributesIsVisible" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="attributesIsAdministrative" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="attributesIsMultiple" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="attributesDescription" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="classInfoLight">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="isAbstract" type="xs:boolean" minOccurs="0" />
<xs:element name="className" type="xs:string" minOccurs="0" />
<xs:element name="_package" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRootPossibleChildren">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getRootPossibleChildrenResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeSession">
<xs:sequence />
</xs:complexType>

<xs:complexType name="closeSessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTreeNodeLight">
<xs:sequence>
<xs:element name="oid" type="xs:long" minOccurs="0" />
<xs:element name="objectclass" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTreeNodeLightResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteTreeNodeLight" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteTreeNodeLight">
<xs:sequence>
<xs:element name="root" type="tns:remoteObjectLight" minOccurs="0" />
<xs:element name="children" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteObjectLight">
<xs:sequence>
<xs:element name="displayName" type="xs:string" minOccurs="0" />
<xs:element name="oid" type="xs:long" minOccurs="0" />
<xs:element name="className" type="xs:string" minOccurs="0" />
<xs:element name="packageName" type="xs:string" minOccurs="0" />
<xs:element name="hasChildren" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectInfo">
<xs:sequence>
<xs:element name="objectclass" type="xs:string" minOccurs="0" />
<xs:element name="oid" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObject" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteObject">
<xs:complexContent>
<xs:extension base="tns:remoteObjectLight">
<xs:sequence>
<xs:element name="attributes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="values" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="moveObjects">
<xs:sequence>
<xs:element name="targetOid" type="xs:long" minOccurs="0" />
<xs:element name="objects" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="moveObjectsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDummyRootId">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDummyRootIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPossibleChildren">
<xs:sequence>
<xs:element name="parentClass" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPossibleChildrenResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="copyObjects">
<xs:sequence>
<xs:element name="targetOid" type="xs:long" minOccurs="0" />
<xs:element name="templateObjects" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="copyObjectsResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPossibleChildren">
<xs:sequence>
<xs:element name="parentClassId" type="xs:long" minOccurs="0" />
<xs:element name="possibleChildren" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPossibleChildrenResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createObject">
<xs:sequence>
<xs:element name="objectClass" type="xs:string" minOccurs="0" />
<xs:element name="template" type="xs:string" minOccurs="0" />
<xs:element name="parentOid" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createObjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLightMetadata">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getLightMetadataResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfoLight" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateObject">
<xs:sequence>
<xs:element name="objectupdate" type="tns:objectUpdate" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="objectUpdate">
<xs:sequence>
<xs:element name="oid" type="xs:long" minOccurs="0" />
<xs:element name="classname" type="xs:string" minOccurs="0" />
<xs:element name="updatedAttributes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="newValues" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastErr">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getLastErrResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMetadata">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getMetadataResponse">
<xs:sequence>
<xs:element name="return" type="tns:classInfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectChildren">
<xs:sequence>
<xs:element name="oid" type="xs:long" minOccurs="0" />
<xs:element name="objectClass" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObjectChildrenResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteObjectLight" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeObject">
<xs:sequence>
<xs:element name="className" type="xs:string" minOccurs="0" />
<xs:element name="oid" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeObjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTreeNode">
<xs:sequence>
<xs:element name="oid" type="xs:long" minOccurs="0" />
<xs:element name="objectclass" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTreeNodeResponse">
<xs:sequence>
<xs:element name="return" type="tns:remoteTreeNode" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteTreeNode">
<xs:sequence>
<xs:element name="root" type="tns:remoteObject" minOccurs="0" />
<xs:element name="children" type="tns:remoteObject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>